body{
  background-color: white;
  font-size: 12px;
}

textarea{
  width:150px;
  height: 250px;
}

cond{
  border: solid 1px black;
  border-radius: 30px;
  padding: 1px 5px 1px 5px;
}

val{
  border: solid 1px black;
  border-radius: 0px;
  margin-top: 5px;
  padding: 0px 3px 0px 3px;
}

bl{
  border: solid 1px black;
  border-radius: 5px;
  font-family: monospace;
  padding: 3px 5px 3px 5px;
  background-color: white;
  display: inline-block;
  margin: 1px;
}

.dark{
  background-color: #bbbbbb;
  padding-top: 5px;
}
