#divApplab.appModern button,
#divApplab.appModern button:hover {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
  width: 80px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern label,
#divApplab.appModern label:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  line-height: 1;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  color: rgb(51, 51, 51);
  max-width: 320px;
  width: 32px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=text],
#divApplab.appModern input[type=text]:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=checkbox],
#divApplab.appModern input[type=checkbox]:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern select,
#divApplab.appModern select:hover {
  width: 200px;
  height: 30px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=radio],
#divApplab.appModern input[type=radio]:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern div.textArea,
#divApplab.appModern div.textArea:hover {
  width: 200px;
  height: 100px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern img,
#divApplab.appModern img:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern canvas,
#divApplab.appModern canvas:hover {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern div.screen,
#divApplab.appModern div.screen:hover {
  display: block;
  height: 450px;
  width: 320px;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

#divApplab.appModern div.chart,
#divApplab.appModern div.chart:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern input[type=range],
#divApplab.appModern input[type=range]:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 150px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern #player1_highlight {
  width: 120px;
  height: 100px;
  left: 30px;
  top: 325px;
  background-color: rgba(197, 197, 197, 0.407843);
}

#divApplab.appModern #player2_highlight {
  width: 120px;
  height: 100px;
  left: 170px;
  top: 325px;
  background-color: rgba(197, 197, 197, 0.407843);
}

#divApplab.appModern #button1 {
  height: 120px;
  width: 120px;
  left: 30px;
  top: 50px;
}

#divApplab.appModern #button2 {
  height: 120px;
  width: 120px;
  left: 170px;
  top: 50px;
}

#divApplab.appModern #button3 {
  height: 120px;
  width: 120px;
  left: 30px;
  top: 190px;
}

#divApplab.appModern #button4 {
  height: 120px;
  width: 120px;
  left: 170px;
  top: 190px;
}

#divApplab.appModern #title_label {
  font-size: 25px;
  color: rgb(117, 107, 107);
  width: 151px;
  height: 30px;
  left: 30px;
  top: 10px;
}

#divApplab.appModern #label4 {
  font-size: 20px;
  width: 100px;
  height: 25px;
  left: 35px;
  top: 345px;
  text-align: center;
  color: rgb(0, 0, 0);
}

#divApplab.appModern #score1_label {
  font-size: 24px;
  width: 100px;
  height: 30px;
  left: 40px;
  top: 385px;
  text-align: center;
}

#divApplab.appModern #score2_label {
  font-size: 24px;
  width: 100px;
  left: 180px;
  top: 385px;
  height: 33px;
  text-align: center;
}

#divApplab.appModern #Label2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  width: 100px;
  height: 25px;
  left: 180px;
  top: 345px;
  text-align: center;
}

#divApplab.appModern #gameOver_screen {
  display: none;
}

#divApplab.appModern #label1 {
  font-size: 50px;
  width: 305px;
  height: 55px;
  left: 5px;
  top: 80px;
}

#divApplab.appModern #player1Win_label {
  font-size: 30px;
  color: rgb(188, 0, 0);
  width: 207px;
  height: 35px;
  left: 55px;
  top: 195px;
}

#divApplab.appModern #player2Win_label {
  font-size: 30px;
  color: rgb(45, 0, 188);
  width: 215px;
  height: 35px;
  left: 50px;
  top: 235px;
}
