#divApplab.appModern button,
#divApplab.appModern button:hover {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
  width: 80px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern label,
#divApplab.appModern label:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  line-height: 1;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  color: rgb(51, 51, 51);
  max-width: 320px;
  width: 32px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=text],
#divApplab.appModern input[type=text]:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=checkbox],
#divApplab.appModern input[type=checkbox]:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern select,
#divApplab.appModern select:hover {
  width: 200px;
  height: 30px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=radio],
#divApplab.appModern input[type=radio]:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern div.textArea,
#divApplab.appModern div.textArea:hover {
  width: 200px;
  height: 100px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern img,
#divApplab.appModern img:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern canvas,
#divApplab.appModern canvas:hover {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern div.screen,
#divApplab.appModern div.screen:hover {
  display: block;
  height: 450px;
  width: 320px;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

#divApplab.appModern div.chart,
#divApplab.appModern div.chart:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern input[type=range],
#divApplab.appModern input[type=range]:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 150px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern #button1 {
  height: 80px;
  left: 25px;
  top: 50px;
}

#divApplab.appModern #button2 {
  height: 80px;
  left: 115px;
  top: 50px;
}

#divApplab.appModern #button3 {
  height: 80px;
  background-color: rgb(255, 255, 0);
  left: 205px;
  top: 50px;
}

#divApplab.appModern #button4 {
  height: 80px;
  left: 25px;
  top: 140px;
}

#divApplab.appModern #button5 {
  height: 80px;
  left: 115px;
  top: 140px;
}

#divApplab.appModern #button6 {
  height: 80px;
  left: 205px;
  top: 140px;
}

#divApplab.appModern #button7 {
  height: 80px;
  left: 25px;
  top: 230px;
}

#divApplab.appModern #button8 {
  height: 80px;
  left: 115px;
  top: 230px;
}

#divApplab.appModern #button9 {
  height: 80px;
  left: 205px;
  top: 230px;
}

#divApplab.appModern #label1 {
  font-size: 25px;
  color: rgb(117, 107, 107);
  width: 151px;
  height: 30px;
  left: 25px;
  top: 10px;
}

#divApplab.appModern #turn {
  width: 36px;
  left: 5px;
  top: 375px;
}

#divApplab.appModern #label4 {
  font-size: 20px;
  width: 100px;
  height: 25px;
  left: 50px;
  top: 370px;
  text-align: center;
  color: rgb(102, 102, 102);
}

#divApplab.appModern #player1lbl {
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 25px;
  left: 50px;
  top: 370px;
  background-color: rgb(99, 61, 135);
  text-align: center;
}

#divApplab.appModern #score1 {
  font-size: 24px;
  width: 100px;
  height: 30px;
  left: 50px;
  top: 400px;
  text-align: center;
}

#divApplab.appModern #score2 {
  font-size: 24px;
  width: 100px;
  left: 170px;
  top: 400px;
  height: 33px;
  text-align: center;
}

#divApplab.appModern #button10 {
  height: 35px;
  width: 265px;
  font-size: 20px;
  background-color: rgb(188, 26, 26);
  left: 25px;
  top: 315px;
}

#divApplab.appModern #label5 {
  font-size: 20px;
  color: rgb(102, 102, 102);
  width: 100px;
  height: 25px;
  left: 170px;
  top: 370px;
  text-align: center;
}

#divApplab.appModern #player2lbl {
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 25px;
  left: 170px;
  top: 370px;
  background-color: rgb(248, 155, 38);
  text-align: center;
}

#divApplab.appModern #label6 {
  width: 45px;
  left: 5px;
  top: 400px;
}
