body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
}

.wheel-container {
    position: relative;
    width: 85vmin;
    height: 85vmin;
}

#shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: gray;
    filter: blur(5px); /* Adjust blur value as needed */
    z-index: 1; /* Ensures the shadow is behind the wheel */
    top: 5%;
    left: 1%;
}

#wheel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transition: transform 4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    z-index: 2; /* Ensures the wheel is in front of the shadow */
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-top: 3rem;
    cursor: pointer;
}

#text-boxes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3; /* Ensures the text boxes are above the wheel and shadow */
}

.text-box {
    position: absolute;
    width: 150px; /* Adjust as needed */
    text-align: center;
    transform-origin: center;
    display: none;
}

.ticker {
    position: absolute;
    top: 0; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 4; /* Set a higher z-index */
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

/* Create the arrow using CSS border properties */
.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #000000; /* Adjust color as needed */
    margin: 0 auto;
    z-index: 5; /* Set a higher z-index */
}
